<HTML>
<head>
	<title>Shane Copenhagen</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link rel='stylesheet' href='/css/style.css' />
<!-- 	<script src="/js/jquery.min.js"></script> -->
</head>
<body>
<div class="ui menu fixed">
  <a href="/" class="item"><i class="home icon"></i>Home</a>

  <div class="right menu">
    <a href="/" class="item">Shane Copenhagen</a>
  </div>
</div>
<div class="ui main text container">
        <div class="ui top attached segment">