<% include partials/header %>

<h1>Software Developer </h1>
<ul>
    <li>Ability to design on the front end with HTML, CSS, JS, and various frameworks.</li>
    <li>Knowledge of node.js, mongoDB, Python, C# and more to form a functional backend.</li>
    <li>Fast learner and hard worker with a passion to keep learning/improving.</li>
    <li> Great at working with a team and interacting with customers.</li>
    <li>Graphic design skills (Photoshop, GIMP, etc.). </li>
</ul>

<h2>Education</h2>
 <p><strong>Oregon State University</strong>
  <br>Core classes 
 <br><strong>Southern New Hampshire University</strong>
  <br>Computer Science – Software Engineering 
  <br>Degree in progress 
<br><strong>Colt Steel Web Developer Bootcamp</strong>
<br>node.js, HTML5, CSS3, bootstrap, git, and more 
<br>Completed 3/2018 
</p>
<h2>Work Experience </h2>
 <p>Insurance Producer 
  <br>2/2015 to 6/2018 
  <br>State Farm and USAA</p>

<% include partials/footer %>