<% include partials/header %>

<h1>Welcome</h1>
<div class="ui segment">
    <img class="ui tiny left floated image" src="/img/SELFPortrait.jpg">
    <p>My name is Shane Copenhagen and I am a Computer Science student in Colorado.
        This website is dedicated to my projects and a bit of resume information so you can see who I am. 
        I attend Southern New Hampshire University seeking a BS in Computer Science. I am passionate about learning to build better and better code each day. 
        I have experience in various languages and am always looking to expand. I'ved used SQL and noSQL databases as well. Some languages I've done a lot of work in would be 
        Javascript/NodeJS, Python, C#, and Java. My skills in web development with HTML5 and CSS3 are also top knotch. See my other pages for projects and more information.
    </p>
<% include partials/footer %>