<% include partials/header %>
A list of my recent projects. Some are still in progress. See my <a href="https://github.com/Baugrems/"><i class="github icon"></i>GitHub Page</a> for more!
<div class="ui small images">
    <a href="https://hioduel.herokuapp.com/"><img src="https://i.imgur.com/nPruDHX.png"></a>
    <a href="https://swcombine.herokuapp.com/"><img src="https://i.imgur.com/WxIVue8.png"></a>
    <a href="https://quidditch-hio.herokuapp.com/"><img src="https://i.imgur.com/YXSTXSt.png"></a>
    <a href="https://github.com/Baugrems/hiochatbot"><img src="https://i.imgur.com/qO7VLDX.png"></a>
  </div>
<% include partials/footer %>