<% include partials/header %>
<h2>A list of my recent projects. Some are still in progress. See my <a href="https://github.com/Baugrems/"><i class="github icon"></i>GitHub Page</a> for more!</h2>
<div class="ui medium bordered images">
    <a href="https://hioduel.herokuapp.com/"><img src="/img/DuelApp.png"> </a>
    <a href="https://swcombine.herokuapp.com/"><img src="/img/SWCMarket.png"> </a>
    <a href="https://quidditch-hio.herokuapp.com/"><img src="/img/QuidditchApp.png"> </a>
    <a href="https://github.com/Baugrems/hiochatbot"><img src="/img/DobbyBot.png"></a>
  </div>
<% include partials/footer %>